@{ 
    //var otp = TempData["OTPCode"];
}

<link href="~/css/otp/style.css" rel="stylesheet" />

<div id="gioHang">

</div>
<script>

    var selectItemList = [];
    var otpcode = 0;
    var tongTien = 0;

    $(document).ready(() => {
        initResourceFilterQuery();

        //$('.otp-input').bind('paste', function (e) {
        //    e.stopPropagation();
        //    e.preventDefault();
        //    var pastedData = e.originalEvent.clipboardData.getData('text');
        //    otpCode = pastedData;
        //    var charArray = Array.from(pastedData);
        //    var inputTextboxArray = $('.otp-input');
        //    for (var i = 0; i < inputTextboxArray.length; i++) {
        //        var digit = charArray[i];
        //        if (digit)
        //            inputTextboxArray[i].value = digit.toUpperCase();
        //        else {
        //            inputTextboxArray[i].value = '';
        //        }
        //    }
        //});
    })
    function initResourceFilterQuery() {
        layGioHang();
    }
    function layGioHang() {
        $.ajax({
            url: '/get-data-giohang',
            type: 'GET',
            success: (result) => {
                if (result.code == 500) {
                    location.href = "/Home/Index";
                }
                else {
                    $("#gioHang")[0].innerHTML = result;
                }
            },
            error: (err) => {
                alert('failed');
                console.log(err);
            }
        });
    }

    function clickOTPEvent(first, last) {
        if (first.value.length) {
            document.getElementById(last).focus();
        }
    }
    
    function onPasteOTP(e) {
        e.stopPropagation();
        e.preventDefault();
        var pastedData = e.clipboardData.getData('text');
        otpCode = pastedData;
        var charArray = Array.from(pastedData);
        var inputTextboxArray = $('.otp-input');
        for (var i = 0; i < inputTextboxArray.length; i++) {
            var digit = charArray[i];
            if (digit)
                inputTextboxArray[i].value = digit.toUpperCase();
            else {
                inputTextboxArray[i].value = '';
            }
        }
    }

    function xacNhanOTP() {
        var otpInput = '';
        var inputTextboxArray = $('.otp-input');
        for (var i = 0; i < inputTextboxArray.length; i++) {
            otpInput += inputTextboxArray[i].value;
            inputTextboxArray[i].value = '';
        }

        //otpInput += $('#ist').val();
        //otpInput += $('#sec').val();
        //otpInput += $('#third').val();
        //otpInput += $('#fourth').val();
        //otpInput += $('#fifth').val();
        //otpInput += $('#sixth').val();

        if (otpInput === otpcode) {
            ThanhToan();
        }
        else {
            alert('Mã OTP không đúng.');
        }
    }

    function capNhatSoLuongGioHang(maSanPham, soLuong, comboCode) {
        
        $.ajax({
            url: '/cap-nhat-giohang?maSanPham=' + maSanPham + '&soLuong=' + soLuong +'&comboCode=' + comboCode,
            type: 'POST',
            success: (result) => {
                if (result.count == 0) {

                    location.href = "/Home/Index";
                }

                else {
                    if (comboCode != "n") {
                        var thanhTienSP = $('#ThanhTienSPComBo-' + maSanPham).val();
                        var thanhTienSP0 = parseFloat(thanhTienSP) * soLuong;
                        var thanhTienSP2 = format2(thanhTienSP0).split(".")[0];
                        console.log(thanhTienSP2);
                        $("#ThanhTien2ComBo-" + maSanPham).text(thanhTienSP2 + " VNĐ");
                    }
                    else {
                        var thanhTienSP = $('#ThanhTienSP-' + maSanPham).val();
                        var thanhTienSP0 = parseFloat(thanhTienSP) * soLuong;
                        var thanhTienSP2 = format2(thanhTienSP0).split(".")[0];
                        console.log(thanhTienSP2);
                        $("#ThanhTien2-" + maSanPham).text(thanhTienSP2 + " VNĐ");
                    }
                   // $("#count-cart-id")[0].innerHTML = `Tổng thanh toán (${result.count} Sản phẩm)`;
                    //var TongTien = parseFloat(result.cash);
                    //var TongTien2 = format2(TongTien).split(".")[0];
                    
                    var payment = Number(result.cash) - 15000;
                    var ThanhTien = parseFloat(payment);
                    var ThanhTien2 = format2(ThanhTien).split(".")[0];
                    //$("#cash-id")[0].innerHTML = TongTien2 + "VNĐ";
                    //$("#total-cash-id")[0].innerHTML = ThanhTien2 + "VNĐ";
                    $("#soLuonggh").html(result.count);
                   
                    $("#sotienGH").html(ThanhTien2 + " VNĐ");
                }
            },
            error: (err) => {
                alert('Server không phẩn hồi!');
                console.log(err);
            }
        });
    }

    function onSoLuongChange(id, maSanPham, type) {
        var inputSoLuong = document.getElementById(id);
        var sl = inputSoLuong.value;

        if (type !== '1') {
            //hui
            capNhatSoLuongGioHang(maSanPham, sl, type);
        }
        else {
            capNhatSoLuongGioHang(maSanPham, sl, 'n');
        }
    }

    function onTruMot(maSanPham, type) {

        if (type !== '1') {
            //hui
            var slTxt = document.getElementById(`${maSanPham}_sl1`).value;
            var slNum = Number(slTxt);
            if (slNum > 1) {
                var rs = slNum - 1;
                document.getElementById(`${maSanPham}_sl1`).value = rs;
                capNhatSoLuongGioHang(maSanPham, rs, type);
            }
        }
        else {
            //normal
            var slTxt = document.getElementById(`${maSanPham}_sl2`).value;
            var slNum = Number(slTxt);
            if (slNum > 1) {
                var rs = slNum - 1;
                document.getElementById(`${maSanPham}_sl2`).value = rs;
                capNhatSoLuongGioHang(maSanPham, rs, 'n');
            }
        }

    } function onThemMot(maSanPham, type, slt) {
        var max = Number(slt);
        if (type !== '1') {
            //hui
            var slTxt = document.getElementById(`${maSanPham}_sl1`).value;
            var slNum = Number(slTxt);
            if (slNum < max) {
                var rs = slNum + 1;
                document.getElementById(`${maSanPham}_sl1`).value = rs;
                capNhatSoLuongGioHang(maSanPham, rs, type);
            }
        }
        else {
            var slTxt = document.getElementById(`${maSanPham}_sl2`).value;
            var slNum = Number(slTxt);
            if (slNum < max) {
                var rs = slNum + 1;
                document.getElementById(`${maSanPham}_sl2`).value = rs;
                capNhatSoLuongGioHang(maSanPham, rs, 'n');
            }
        }
    }

    function layThanhToan() {
        if (selectItemList.length === 0 || selectItemList === undefined) {
            swal("Thất bại!", "Vui lòng chọn mặt hàng để thanh toán!", "error");
            return;
        }
        
        var huiCartItems = [];
        var norCartItems = [];

        for (var i = 0; i < selectItemList.length; i++) {

            var type = selectItemList[i].id.split('_')[1];

            if (type === '2') {
                var itemId = selectItemList[i].id.split('_')[0];
                //normal
                norCartItems.push(itemId);
            } else {
                var id = selectItemList[i].id;
                huiCartItems.push(id);
            }
        }
        var fd = new FormData();

        fd.append('ListCheckoutNormalCart', norCartItems);
        fd.append('ListCheckoutHUICart', huiCartItems);
        console.log(huiCartItems);
        console.log(norCartItems);
        $.ajax({
            url: `/get-data-thanhtoan`,
            type: 'POST',
            data: fd,
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            success: (result) => {
                if (result.code == 500) {
                    location.href = "/KhachHang/client-login";
                    swal("Thất bại!", "Vui lòng đăng nhập!", "error");
                  
                }
                else {
                    $("#gioHang")[0].innerHTML = result;
                }
            },
            error: (err) => {
                alert('failed');
                console.log(err);
            }
        });
    }

    function addSelectCartItem(cbID) {
        var checkItem = document.getElementById(cbID);
        //if ($(cbID).prop('checked') == true) {
        //    var item = $(cbID).prop('id');
        //    selectItemList.push(item);
        //}
        //else {
        //    selectItemList = selectItemList.filter(cb => cb !== item);
        //}
        if (checkItem.checked) {
            tongTien = tongTien + parseFloat(checkItem.value);
            selectItemList.push(checkItem);
            $("#count-cart-id")[0].innerHTML = `Tổng thanh toán (${selectItemList.length} Sản phẩm)`;
            var ThanhTien = parseFloat(tongTien);
            var ThanhTien2 = format2(ThanhTien).split(".")[0];
            $("#total-cash-id")[0].innerHTML = ThanhTien2 + "VNĐ";
            console.log(selectItemList);

            var payment = parseFloat(tongTien) + 15000;
            var TongTien = parseFloat(payment);
            var TongTien2 = format2(TongTien).split(".")[0];
            $("#cash-id")[0].innerHTML = TongTien2 + "VNĐ";

                   
        }
        else {
            tongTien = tongTien - parseFloat(checkItem.value);
            selectItemList = selectItemList.filter(cb => cb !== checkItem);
            $("#count-cart-id")[0].innerHTML = `Tổng thanh toán (${selectItemList.length} Sản phẩm)`;
            var ThanhTien = parseFloat(tongTien);
            var ThanhTien2 = format2(ThanhTien).split(".")[0];
            $("#total-cash-id")[0].innerHTML = ThanhTien2 + "VNĐ";

            var payment = parseFloat(tongTien) + 15000;
            var TongTien = parseFloat(payment);
            var TongTien2 = format2(TongTien).split(".")[0];
            $("#cash-id")[0].innerHTML = TongTien2 + "VNĐ";
        }
    }


    function sendEmail() {
        const MaDC = $('#maDiaChiKH').val();
        swal("Vui lòng đợi trong giây lát!", "Hệ thống đang xác nhận đơn hàng của bạn.", "error", {
            buttons: false,
            timer: 4000,
        });
      
        if (MaDC == "") {
            swal("Thất bại!", "Vui lòng chọn địa chỉ!", "error");
        }
        else {
            $.ajax({
                url: '/send-otp',
                type: 'GET',
                success: (result) => {
                    if (result === 'otp-sent-failed') {
                        swal("Thất bại!", "Không thể gửi OTP hãy thử lại!", "error");
                    }
                    else {
                        otpcode = result;
                        console.log(otpcode);
                        $("#OTPModal").modal('show');
                    }
                },
                error: (err) => {
                    alert('Lỗi gửi email');
                    console.log(err);
                }
            });
        }

    }


    //THANH TOÁN
    function ThanhToan() {
        // lay danh sach mat hang duoc chon thanh toan
        var lCb = $('checkbox-col input:checked');
        lCb = lCb.length === 0 ? selectItemList : lCb;

        if (lCb.length === 0) {
            swal("Thất bại!", "Vui lòng chọn mặt hàng để thanh toán!", "error");
            return;
        }
        var testId = lCb[0].defaultValue;
        if (testId === undefined || testId === '') {
            swal("Thất bại!", "Hệ thống không xử lý được yêu cầu của bạn. Vui lòng thử lại sau!", "error");
            return;
        }
        else {
            //check cb
            var huiCartItems = [];
            var norCartItems = [];

            for (var i = 0; i < lCb.length; i++) {

                var type = lCb[i].id.split('_')[1];

                if (type === '2') {
                    var itemId = lCb[i].id.split('_')[0];
                    //normal
                    norCartItems.push(itemId);
                } else {
                    var id = lCb[i].id;
                    huiCartItems.push(id);
                }
            }

            // prepare data
            const MaDC = $('#maDiaChiKH').val();
            if (MaDC == null) {
                swal("Thất bại!", "Vui lòng chọn địa chỉ giao hàng!", "error");
            }
            const PtThanhToan = $('#pTThanhToan').val();
            const MaKM = $('#maKhuyenMai').val();
            const TongTien = $('#tongTienKhuyenMai').text();
            const ThanhTien = $('#thanhTienHang').text();
            const PhiShip = $('#phiShip').text();
            var fd = new FormData();

            fd.append('Type', "ajax");
            fd.append('MaDiaChi', MaDC);
            fd.append('MaKhuyenMai', MaKM);
            fd.append('PhuongThucThanhToan', PtThanhToan);
            fd.append('ThanhTien', ThanhTien);
            fd.append('TongTien', TongTien);
            fd.append('Ship', PhiShip);
            fd.append('ListCheckoutNormalCart', norCartItems);
            fd.append('ListCheckoutHUICart', huiCartItems);

            $.ajax({
                url: '/thanh-toan',
                //data: {
                //    MaKM: MaKM,
                //    MaDC: MaDC,
                //    TongTien: TongTien,
                //    ThanhTien: ThanhTien,
                //    PhiShip: PhiShip,
                //    PtThanhToan: PtThanhToan,
                //    type: "ajax"
                //},
                type: 'POST',
                data: fd,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                success: function (data) {
                    if (data.code == 1) {
                        swal("Thành công!", "Đặt hàng thành công!", "success");
                        location.href = "/Home/Index";
                        location.reload();
                        selectItemList = [];
                    }
                    else {
                        swal("Thất bại!", "Đặt hàng thất bại!", "error");
                        location.reload();
                        selectItemList = [];
                    }
                   
                },
                error: function (err) {
                    swal("Thất bại!", "Đặt hàng thất bại!", "error");
                    location.reload();
                    selectItemList = [];
                   
                }
            });
          
        }

    }

    function CheckAll(parent) {
        var ids = document.getElementsByTagName('input');
        for (var i = 0; i < ids.length; i++) {
            
            if (ids[i].name == "ids[]") {
                ids[i].checked = parent.checked;
               
                if (ids[i].checked === false) {
                    selectItemList = selectItemList.filter(cb => cb !== ids[i]);
                    tongTien = tongTien - parseFloat(ids[i].value);
                }
                else {
                    selectItemList.push(ids[i]);
                    tongTien = tongTien + parseFloat(ids[i].value);
                }
            }
            
        }
        $("#count-cart-id")[0].innerHTML = `Tổng thanh toán (${selectItemList.length} Sản phẩm)`;
        var ThanhTien = parseFloat(tongTien);
        var ThanhTien2 = format2(ThanhTien).split(".")[0];
        $("#total-cash-id")[0].innerHTML = ThanhTien2 + "VNĐ";

        var payment = parseFloat(tongTien) + 15000;
        var TongTien = parseFloat(payment);
        var TongTien2 = format2(TongTien).split(".")[0];
        $("#cash-id")[0].innerHTML = TongTien2 + "VNĐ";

    }
   
</script>