
<form action="#" class="hm-searchbox">
    <select class="nice-select select-search-category">
        
        
    </select>
    <input type="text" placeholder="Enter your search key ...">
    <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
</form>