@using EcommerceWebsite.Utilities.Output.Main
@model List<DanhMucOutput>

@if (Model.Any())
{
    <div id="cate-toggle" class="category-menu-list">
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="#">@item.TenDanhMuc</a></li>
            }
         
        </ul>
    </div>
}
