@using EcommerceWebsite.Data.Entities
@model List<NhanHieu>
<h4 class="m-text14 p-b-7">
    HÃNG SẢN PHẨM
</h4>
<ul class="p-b-54">
    @foreach (var item in Model.ToList())
    {
        <li class="p-t-4">
            <a href="#" class="s-text13">
                @item.TenHang
            </a>
        </li>
    }
</ul>