@using EcommerceWebsite.Data.Entities
@model List<KhuyenMai>

    <div class="col-lg-6 col-md-8">
        <div class="slider-area slider-area-3 pt-sm-30 pt-xs-30 pb-xs-30">
            <div class="slider-active owl-carousel">
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <div class="single-slide align-center-left animation-style-01 bg-7">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>@item.PhanTram% Off</span> This Week</h5>
                                <h2>@item.TenKhuyenMai</h2>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Xem ngay</a>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>

