@{
    ViewData["Title"] = "TRIPLE V - Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //  Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
    var queryPageIndex = Context.Request.Query["pageIndex"];
    var valPageIndex = queryPageIndex.Count > 0 ? (int.TryParse(queryPageIndex[0], out int idx) ? idx : 1) : 1;

}
<head>

</head>
<style>
    .container {
        max-width: 1400px;
    }
</style>
<!-- OFFER -->
@*Hiển thi banner*@
<section class="slide1 ">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1 item1-slick1" style="background-image: url(https://i.ibb.co/7GX7DbV/Jack1.png); ">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                        Women Collection 2018
                    </span>
                    <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        New arrivals
                    </h2>
                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">

                        <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="item-slick1 item2-slick1" style="background-image: url(https://i.ibb.co/c8KRyyP/139-asus-zenbook-14-ux425-laptop-14-inch-mong-nhat-the-gioi-voi-day-du-cong-ket-noi-01.png); ">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
                        Women Collection 2018
                    </span>
                    <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
                        New arrivals
                    </h2>
                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">

                        <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="item-slick1 item3-slick1" style="background-image: url(https://i.ibb.co/7GX7DbV/Jack1.png);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
                        Women Collection 2018
                    </span>
                    <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
                        New arrivals
                    </h2>
                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">

                        <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*HIỂN THỊ DANH MỤC SẢN PHẨM*@
<section class="banner bgwhite p-t-40 p-b-40">
    <div class="container">
        <div class="row" id="danhmuc-sanpham">

        </div>
    </div>
</section>
@*HIỂN THỊ SẢN PHẨM*@
<section class="newproduct bgwhite p-t-45 p-b-105">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                DANH SÁCH SẢN PHẨM NỔI BẬT
            </h3>
        </div>
        <div class="wrap-slick2">
            <div class="slick2" id="sanphamload">

            </div>
        </div>

    </div>
</section>

<script>
    $(document).ready(() => {
        init();
    });

    //FUNC
    function init() {
        getDanhMuc();
    }

    //Danh Muc
    function getDanhMuc() {
        $.ajax({
            url: '/list-danh-muc',
            type: 'GET',
            success: (result) => {
                //$("#danhmuc-sanpham")[0].innerHTML = result;
                alert(result.data);
            },
            error: (err) => {
                console.log(err);
            }
        });
    }

</script>
