@using EcommerceWebsite.Data.Entities
@model List<KhuyenMai>
@{
    ViewData["Title"] = "TRIPLE V - Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //  Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
    var queryPageIndex = Context.Request.Query["pageIndex"];
    var valPageIndex = queryPageIndex.Count > 0 ? (int.TryParse(queryPageIndex[0], out int idx) ? idx : 1) : 1;

}
<style>
    .container {
        max-width: 1400px;
    }
</style>
<!-- OFFER -->
@*Hiển thi banner*@

@(await Html.PartialAsync("~/Views/Home/_ListKhuyenMai.cshtml", Model))
@*HIỂN THỊ DANH MỤC SẢN PHẨM*@
<section class="banner bgwhite p-t-40 p-b-40">
    <div class="container">
        <div class="row danhmuc-sanpham">

        </div>
    </div>
</section>
@*HIỂN THỊ SẢN PHẨM*@
<section class="newproduct bgwhite p-t-45 p-b-105">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                DANH SÁCH SẢN PHẨM NỔI BẬT
            </h3>
        </div>
        <div class="wrap-slick2">
            <div class="slick2" id="sanphamload">

            </div>
        </div>

    </div>
</section>

<script>
    $(document).ready(() => {
        init();
    });

    //FUNC
    function init() {
        getDataSanPham();
        layDanhMuc();
        // layKhuyenMai();
    }
    //Danh Muc
    function layDanhMuc() {
        $.ajax({
            url: '/list-danh-muc',
            type: 'GET',
            success: (result) => {
                $(".danhmuc-sanpham")[0].innerHTML = result;
            },
            error: (err) => {
                alert('failed');
                console.log(err);
            }
        });
    }
    //san pham
    function getDataSanPham() {
        $.ajax({
            url: '/get-data-sanpham',
            type: 'GET',
            dataType: 'html',
            success: (result) => {
                $("#sanphamload")[0].innerHTML = result;
            },
            error: (err) => {
                alert('failed');
                console.log(err);
            }
        });
    }
    //Khuyến mãi
    function layKhuyenMai() {
        $.ajax({
            url: '/get-data-khuyenmai',
            type: 'GET',
            dataType: 'html',
            success: (result) => {
                $(".slick1")[0].innerHTML = result;
            },
            error: (err) => {
                alert('failed');
                console.log(err);
            }
        });
    }

</script>
