@using EcommerceWebsite.Utilities.Input
@using EcommerceWebsite.Application.Constants
@model ThongTinKhachHangInput

@{ 
    //var targetPass = Model.MatKhau;
}

<div class="modal-body">
    <h1>Thông tin khách hàng</h1>
    <div class="formcontainer">
        <hr />
        <div id="error-login-msg" class="text-danger" ></div>
            <div id="otp-input-verify" style="display:none">
                <div class="form-group">
                    <label for="">
                        <span class="fix-height"><strong>Xác nhận OTP</strong></span>
                        <input id="otp-input" type="text" class="form-control" placeholder="OTPcode" />
                    </label>
                </div>
            </div>
            <div id="form-login-input">
                <div class="container">

                    <div class="form-group">
                        <label for="">
                            <span class="fix-height"><strong>Tên đăng nhập/ SĐT</strong></span>
                            @if (string.IsNullOrEmpty(Model.TenDangNhap))
                            {
                                @Html.EditorFor(model => Model.SDT, new { htmlAttributes = new { @class = "input-login form-control", placeholder = "Type here", id = "txt-login" } })
                            }
                            else
                            {
                                @Html.EditorFor(model => Model.TenDangNhap, new { htmlAttributes = new { @class = "form-control input-login", placeholder = "Type here", id = "txt-login" } })
                            }
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="">
                            <span class="fix-height"><strong>Mật khẩu <span class="field-required">*</span></strong></span>
                            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Type here", autocomplete = "new-password" } })
                        </label>
                    </div>
                </div>
                <div class="container" style="background-color: #eee">
                    <label style="padding-left: 15px">
                        <input id="isRememberLogin" type="checkbox" checked="checked" name="remember"> Ghi nhớ đăng nhập
                    </label>
                    <span class="psw"><a href="#"> Quên Mật Khẩu?</a></span>
                </div>
            </div>
    </div>
</div>

