<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TRIPLE V</title>

    <link rel="icon" type="image/png" href="~/images/icons/favicon.png" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/fonts/themify/themify-icons.css" rel="stylesheet" />
    <link href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <link href="~/fonts/elegant-font/html-css/style.css" rel="stylesheet" />
    <link href="~/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/vendor/slick/slick.css" rel="stylesheet" />
    <link href="~/vendor/lightbox2/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*@RenderSection("Styles", required: false)*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @using Microsoft.AspNetCore.Identity
    @using EcommerceWebsite.Data.Identity


    @* Application User- Name *@
    @*@inject SignInManager<ApplicationUser> _signInManager
    @inject UserManager<ApplicationUser> _userManager*@

    <style>
        :hover a {
            text-decoration: none;
        }
    </style>
</head>
<body class="animsition">
    <header class="header1">
        <div class="container-menu-header">
            <div class="topbar">
                <div class="topbar-social">
                    <a href="#" class="topbar-social-item fa fa-facebook"></a>
                    <a href="#" class="topbar-social-item fa fa-instagram"></a>
                    <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                    <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                    <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                </div>
                <span class="topbar-child1">
                    Giao hàng miễn phí cho đơn đặt hàng không quá 2km
                </span>
                <div class="topbar-child2">
                    <span class="topbar-email">
                        <a href="mailto:triplev.store.2021@gmail.com"> triplev.store.2021@gmail.com</a>
                    </span>
                    <div class="topbar-language rs1-select2">
                        <select class="selection-1" name="time">
                            <option>USD</option>
                            <option>EUR</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="wrap_header">

                <a href="index.html" class="logo">
                    TRIPLE V
                </a>

                <div class="wrap_menu">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li class="sale-noti">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="CuaHang">Cửa hàng</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="ALLSanPham">Khuyến mãi</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="GioHang" asp-action="Index">Giỏ hàng</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Blog</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Giới thiệu</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="LienHe" asp-action="LienHeVoiChungToi">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="header-icons">

                    <a href="#" class="header-wrapicon1 dis-block">
                        @if (User != null) { 
                            <p id="user-name-id" style="color:red; margin-top:5px; padding-left:5px">@User.Identity.Name</p>
                        }
                        else
                        {
                            <img src="~/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                        }

                    </a>
                    <span class="linedivide1"></span>
                    <div class="header-wrapicon2">
                        <img src="~/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        <span class="header-icons-noti">0</span>

                        <div class="header-cart header-dropdown">
                            <ul class="header-cart-wrapitem">
                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="~/images/item-cart-01.jpg" alt="IMG">
                                    </div>
                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            White Shirt With Pleat Detail Back
                                        </a>
                                        <span class="header-cart-item-info">
                                            1 x $19.00
                                        </span>
                                    </div>
                                </li>
                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="~/images/item-cart-02.jpg" alt="IMG">
                                    </div>
                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            Converse All Star Hi Black Canvas
                                        </a>
                                        <span class="header-cart-item-info">
                                            1 x $39.00
                                        </span>
                                    </div>
                                </li>
                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="~/images/item-cart-03.jpg" alt="IMG">
                                    </div>
                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            Nixon Porter Leather Watch In Tan
                                        </a>
                                        <span class="header-cart-item-info">
                                            1 x $17.00
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <div class="header-cart-total">
                                Total: $75.00
                            </div>
                            <div class="header-cart-buttons">
                                <div class="header-cart-wrapbtn">

                                    <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        View Cart
                                    </a>
                                </div>
                                <div class="header-cart-wrapbtn">

                                    <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        Check Out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Dành cho mobile *@

        <div class="wrap_header_mobile">

            <a href="index-2.html" class="logo-mobile">
                TRIPLE V
            </a>

            <div class="btn-show-menu">

                <div class="header-icons-mobile">
                    <a href="#" class="header-wrapicon1 dis-block">
                        <img src="~/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                    </a>
                    <span class="linedivide2"></span>
                    <div class="header-wrapicon2">
                        <img src="~/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        <span class="header-icons-noti">0</span>

                        <div class="header-cart header-dropdown">
                            <ul class="header-cart-wrapitem">
                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="~/images/item-cart-01.jpg" alt="IMG">
                                    </div>
                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            White Shirt With Pleat Detail Back
                                        </a>
                                        <span class="header-cart-item-info">
                                            1 x $19.00
                                        </span>
                                    </div>
                                </li>
                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="~/images/item-cart-02.jpg" alt="IMG">
                                    </div>
                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            Converse All Star Hi Black Canvas
                                        </a>
                                        <span class="header-cart-item-info">
                                            1 x $39.00
                                        </span>
                                    </div>
                                </li>
                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="~/images/item-cart-03.jpg" alt="IMG">
                                    </div>
                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            Nixon Porter Leather Watch In Tan
                                        </a>
                                        <span class="header-cart-item-info">
                                            1 x $17.00
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <div class="header-cart-total">
                                Total: $75.00
                            </div>
                            <div class="header-cart-buttons">
                                <div class="header-cart-wrapbtn">

                                    <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        View Cart
                                    </a>
                                </div>
                                <div class="header-cart-wrapbtn">

                                    <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        Check Out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="wrap-side-menu">
            <nav class="side-menu">
                <ul class="main-menu">
                    <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                        <span class="topbar-child1">
                            Giao hàng miễn phí cho đơn đặt hàng không quá 2km
                        </span>
                    </li>
                    <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                        <div class="topbar-child2-mobile">
                            <span class="topbar-email">
                                <a href="" mailto:triplev.store.2021@gmail.com" class="__cf_email__" data-cfemail="c7a1a6b4afa287a2bfa6aab7aba2e9a4a8aa">triplev.store.2021@gmail.com</a>
                            </span>
                            <div class="topbar-language rs1-select2">
                                <select class="selection-1" name="time">
                                    <option>USD</option>
                                    <option>EUR</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li class="item-topbar-mobile p-l-10">
                        <div class="topbar-social-mobile">
                            <a href="#" class="topbar-social-item fa fa-facebook"></a>
                            <a href="#" class="topbar-social-item fa fa-instagram"></a>
                            <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                            <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                            <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                        </div>
                    </li>
                    <li class="item-menu-mobile">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                        <ul class="sub-menu">
                            <li><a href="index-2.html">Homepage V1</a></li>
                            <li><a href="home-02.html">Homepage V2</a></li>
                            <li><a href="home-03.html">Homepage V3</a></li>
                        </ul>
                        <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                    </li>
                    <li class="item-menu-mobile">
                        <a asp-area="" asp-controller="Home" asp-action="CuaHang">Cửa hàng</a>
                    </li>
                    <li class="item-menu-mobile">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Khuyến mãi</a>
                    </li>
                    <li class="item-menu-mobile">
                        <a asp-area="" asp-controller="GioHang" asp-action="Index">Giỏ hàng</a>
                    </li>
                    <li class="item-menu-mobile">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Blog</a>
                    </li>
                    <li class="item-menu-mobile">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Giới thiệu</a>
                    </li>
                    <li class="item-menu-mobile">
                        <a asp-area="" asp-controller="LienHe" asp-action="LienHeVoiChungToi">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>
        @* Dành cho mobile *@
    </header>
    @RenderBody()
    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="flex-w p-b-90">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    LIÊN HỆ TẠI
                </h4>
                <div>
                    <p class="s-text7 w-size27">
                        140 Lê Trọng Tấn, Tây Thạnh, Tân Phú, TP. HCM - hotline: 028 6270 6275
                    </p>
                    <div class="flex-m p-t-30">
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                    </div>
                </div>
            </div>
            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    THỂ LOẠI
                </h4>
                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Điện thoại
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Phụ kiện
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Đồng hồ thông minh
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            PC, Máy in
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    LIÊN HỆ
                </h4>
                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Tình trạng đặt hàng
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Vận chuyển và giao hàng
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Lợi nhuận
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Các lựa chọn thanh toán
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    VỀ CHÚNG TÔI
                </h4>
                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Mã giảm giá
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Đăng nhập bằng mail
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Phản hồi về trang Web
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    PHẢN HỒI
                </h4>
                <form>
                    <div class="effect1 w-size9">
                        <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@gmail.com">
                        <span class="effect1-line"></span>
                    </div>
                    <div class="w-size2 p-t-20">
                        <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                            PHẢN HỒI
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="t-center p-l-15 p-r-15">
            <a href="#">
                <img class="h-size2" src="~/images/icons/paypal.png" alt="IMG-PAYPAL">
            </a>
            <a href="#">
                <img class="h-size2" src="~/images/icons/visa.png" alt="IMG-VISA">
            </a>
            <a href="#">
                <img class="h-size2" src="~/images/icons/mastercard.png" alt="IMG-MASTERCARD">
            </a>
            <a href="#">
                <img class="h-size2" src="~/images/icons/express.png" alt="IMG-EXPRESS">
            </a>
            <a href="#">
                <img class="h-size2" src="~/images/icons/discover.png" alt="IMG-DISCOVER">
            </a>
            <div class="t-center s-text8 p-t-20">
                Copyright © 2021 <a href="#">Triple V</a>. All rights reserved.
            </div>
        </div>
    </footer>
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>
    <div id="dropDownSelect1"></div>
    @*<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@
    <script type="text/javascript" src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/vendor/animsition/js/animsition.min.js"></script>
    <script type="text/javascript" src="~/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/vendor/select2/select2.min.js"></script>
    <script type="text/javascript">
        $(".selection-1").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect2')
        });
    </script>
    <script type="text/javascript" src="~/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/js/slick-custom.js"></script>
    <script type="text/javascript" src="~/vendor/countdowntime/countdowntime.js"></script>
    <script type="text/javascript" src="~/vendor/lightbox2/js/lightbox.min.js"></script>
    <script type="text/javascript" src="~/vendor/sweetalert/sweetalert.min.js"></script>
    <script>
        $('.block2-btn-addcart').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });
        $('.block2-btn-addwishlist').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");
            });
        });
        $('.btn-addcart-product-detail').each(function () {
            var nameProduct = $('.product-detail-name').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");
            });
        });

    </script>
    <script src="~/js/main.js"></script>
    @*<script defer src="../../../static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"64a7260aa9e752b0","si":10,"version":"2021.4.0"}'></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>