@using EcommerceWebsite.Utilities.Input
@model ThongTinKhachHangInput

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "[TRIPLE V - Admin] Tài khoản";
}

<h4 class="mb-3 f-w-400">ĐĂNG NHẬP</h4>
<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text"><i data-feather="mail"></i></span>
        <input asp-for="Email" type="email" class="form-control" placeholder="Nhập Email ...">
    </div>
    <div class="input-group mb-4">
        <span class="input-group-text"><i data-feather="lock"></i></span>
        <input asp-for="MatKhau" type="password" class="form-control" placeholder="Mật khẩu ...">
    </div>
    <div class="form-group text-left mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Nhớ mât khẩu
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-block btn-primary mb-4">ĐĂNG NHẬP</button>
</form>
@*<p class="mb-0 text-muted">Chưa có tài khoản? <a href="auth-signup.html" class="f-w-400">Đăng kí</a></p>*@