@using EcommerceWebsite.Utilities.Input
@model ThongTinKhachHangInput

    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Đóng</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Thành viên đăng nhập</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="well">
                            <form id="loginForm" method="POST" action="http://hocwebgiare.com" novalidate="novalidate">
                                <div class="form-group">
                                    <label for="username" class="control-label">Tài khoản</label><input class="form-control" id="username" name="username" value="" required="" title="Xin vui lòng nhập tên tài khoản" placeholder="hocwebgiare@gmail.com" type="text"><span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label">Mật khẩu</label><input class="form-control" id="password" name="password" value="" required="" title="Xin vui lòng nhập mật khẩu" type="password"><span class="help-block"></span>
                                </div>
                                <div id="loginErrorMsg" class="alert alert-error hide">Sai tên tài khoản hay mật khẩu</div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" id="remember" type="checkbox">
                                        Nhớ thông tin
                                    </label>
                                    <p class="help-block">(Nếu sử dụng máy tính cá nhân)</p>
                                </div>
                                <button type="submit" class="btn btn-success btn-block">Đăng nhập</button><a href="http://hocwebgiare.com/" class="btn btn-default btn-block">Quên mật khẩu?</a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <p class="lead">
                            Đăng ký học thử <span class="text-success">ONLINE</span>
                        </p>
                        <ul class="list-unstyled" style="line-height: 2">
                            <li>
                                <span class="fa fa-check text-success"></span> <a href="http://hocwebgiare.com/dao-tao-online/Chuyen-vien-website-lanh-nghe-online.html">Chuyên viên website lành nghề</a>
                            </li>
                            <li>
                                <span class="fa fa-check text-success"></span> <a href="http://hocwebgiare.com/dao-tao-online/Thiet-ke-giao-dien-website-online.html">Thiết kế giao diện website</a>
                            </li>
                            <li>
                                <span class="fa fa-check text-success"></span> <a href="http://hocwebgiare.com/dao-tao-online/Lap-trinh-PHP-Co-Ban-Online.html">Lâp trình PHP cơ bản</a>
                            </li>
                            <li>
                                <span class="fa fa-check text-success"></span> <a href="http://hocwebgiare.com/dao-tao-online/Lap-trinh-HTML5-CSS3-RWD-Javascript-Bootstrap-Online.html">Lập trình HTML5,CSS3,RWD,JS,BS</a>
                            </li>
                            <li>
                                <span class="fa fa-check text-success"></span> Nhiều khuyến mãi trên 50%
                            </li>
                            <li>
                                <a href="http://hocwebgiare.com/hoc-thiet-ke-web-doi-ban-cung-tien.html"><u>Xem chi tiết</u></a>
                            </li>
                        </ul>
                        <p>
                            <a href="http://hocwebgiare.com/dang-ky-khoa-hoc-online.html" class="btn btn-info btn-block">Đăng ký học thử ngay!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
