@using EcommerceWebsite.Utilities.Input
@using EcommerceWebsite.Data.Enum

@model ThongTinKhachHangInput
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "TRIPLE V - Điện thoại, Máy tính,..";
}


<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>

                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li class="active">Khách hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->

@if (Model.Type == ((int)LoaiTruyCap.Register))
{
    <div class="page-section mb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                    <!-- Register Form s-->
                    <form id="form-register-id"  >
                        <div class="login-form">
                            <h4 class="login-title">Đăng ký</h4>
                            <div class="row">
                                <div class="col-md-12 col-12 mb-20">
                                    <label>Họ và tên</label>
                                    <input class="mb-0" asp-for="HoTen" name="HoTen" type="text" placeholder="Họ và tên">
                                </div>
                                @*<div class="col-md-6 col-12 mb-20">
                                    <label>Last Name</label>
                                    <input class="mb-0" type="text" placeholder="Last Name">
                                </div>*@
                                <div class="col-md-12 mb-20">
                                    <label>Email/Số điện thoại *</label>
                                    <input class="mb-0" asp-for="Email" name="Email"  placeholder="Email/ Số điện thoại">
                                </div>
                                <div class="col-md-6 mb-20">
                                    <label>Mật khẩu *</label>
                                    <input class="mb-0" asp-for="MatKhau" name="MatKhau" type="password" placeholder="Mật khẩu">
                                </div>
                                <div class="col-md-6 mb-20">
                                    <label>Xác nhận mật khẩu *</label>
                                    <input class="mb-0" type="password" asp-for="XacNhanMatKhau" name="XacNhanMatKhau" placeholder="Xác nhận mật khẩu">
                                </div>
                                <div class="col-12">
                                    <button onclick="submitRegister()" class="register-button mt-0">Đăng ký</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <!-- Begin Login Content Area -->
    <div class="page-section mb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                    <!-- Login Form s-->
                    <form id="form-login-id" asp-action="Index" method="post">
                        <div class="login-form">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <h4 class="login-title">Đăng nhập</h4>
                            <div class="row">
                                <div class="col-md-12 col-12 mb-20">
                                    <label>Email/Số điện thoại *</label>
                                    <input class="mb-0" asp-for="Email" placeholder="Email/Số điện thoại">
                                </div>
                                <div class="col-12 mb-20">
                                    <label>Mật khẩu</label>
                                    <input class="mb-0" type="password" asp-for="MatKhau" placeholder="Mật khẩu">
                                </div>
                                <div class="col-md-8">
                                    <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                        <input type="checkbox" id="remember_me">
                                        <label for="remember_me">Ghi nhớ đăng nhập</label>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                    @*<a href="#"> Quên mật khẩu?</a>*@
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="register-button mt-0">Đăng nhập</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}


<script>

    function submitRegister() {
        
        debugger;
        var isValid = validateFormRe();
        if (isValid) {
            alert("OK");
        } else {
            alert("Thông tin không hợp lệ");
        }
    }

    function validateFormRe() {
        debugger;

        $.validator.addMethod("validateEmail", function (value, element) {
            var phoneno = /^\d{10}$/;
            if (value.match(phoneno)) {
                return true;
            }
            else {
                var regexp = /^\w+([.+.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                var isValid = regexp.test(value);
                return isValid;
            }
        }, 'Email hoặc số điện thoại không hợp lệ.');

        $.validator.addMethod("validatePass", function (value, element) {
            var _pass = $("#MatKhau").val();
            //var _repass = $("#XacNhanMatKhau").val();

            var regex = "^(?=.*[0-9])"
                + "(?=.*[a-z])(?=.*[A-Z])"
                + "(?=.*[@@#$%^&+=])"
                + "(?=\\S+$).{8,16}$";
            var isValid = regex.test(_pass);
            return isValid;
        }, 'Mật khẩu phải từ 8-16 kí tự và có chứa kí tự hoa, đặc biệt.');

        $.validator.addMethod("validateRePass", function (value, element) {
            var _pass = $("#MatKhau").val();
            var _repass = $("#XacNhanMatKhau").val();

            return _repass === _pass;
        }, 'Sai mật khẩu.');

        $("#form-register-id").validate({
            rule: {
                Email: { required: true, validateEmail: true },
                MatKhau: { required: true, validatePass: true },
                XacNhanMatKhau: { required: true, validateRePass: true },
            },
            messages: {
                Email: {
                    required: 'Tên đăng nhập hoặc email không được trống.',
                    validateEmail: 'Email hoặc số điện thoại không hợp lệ.',
                },
                MatKhau: {
                    required: 'Mật khẩu không được trống.',
                    validatePass: 'Mật khẩu phải từ 8-16 kí tự và có chứa kí tự hoa, đặc biệt.',
                },
                XacNhanMatKhau: {
                    required: 'Mật khẩu không được trống.',
                    validateRePass: 'Sai mật khẩu.',
                },
            }
        });

        return $("#form-register-id").valid();
    }
</script>