@{
    ViewData["Title"] = "TRIPLE V - Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="https://www.bmcdesign.vn/wp-content/uploads/2015/03/shopIphone_1.jpg" alt="IMG-ABOUT">
                </div>
            </div>
            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    CHÀO MỪNG BẠN ĐẾN VỚI TRIPLE V
                </h3>
                <p class="p-b-28">
                    Trải qua 10 năm, ĐIÊN THOẠI GIÁ SỐC đã phát triển mạnh mẽ và không ngừng đi lên nhờ chất lượng dịch vụ và sự tin tưởng của khách hàng.
                    <br />
                    Trải qua trên 10 năm hoạt động, với đội ngũ giáo viên tận tụy có trình độ chuyên môn cao, có bề dày kinh nghiệm và lòng đam mê nghề nghiệp, Chúng tôi đã có nhiều đóng góp lớn trong sự nghiệp Giáo dục & Đào tạo của Thành phố và các tỉnh lân cận.
                    <br />
                    Cùng với đó, chúng tôi đào tạo nguồn nhân lực sửa chữa điện thoại & laptop chất lượng cung ứng cho cả nước. Số lượng học viên theo học tính đến hiện tại đã cán mốc 4.200 học viên.
                </p>
                <div class="bo13 p-l-29 m-l-9 p-b-10">
                    <p class="p-b-11">
                        Chúng tôi xin cảm ơn bạn đã đồng hành vì chúng tôi.
                    </p>
                    <span class="s-text7">
                        - TRIPLE V
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
