@using EcommerceWebsite.Data.Entities
@model List<NhanHieu>
<div class="category-sub-menu">
    <ul>
        @foreach (var item in Model.ToList())
        {
            <li>
                <a href="#" data-id="@item.MaHang" onclick="loadSanPhamTheoHang()">@item.TenHang</a>
            </li>
        }
    </ul>
</div>
<script>
  
</script>
