@using EcommerceWebsite.Data.Entities
@model List<NhanHieu>
    <div class="category-sub-menu">
        <ul>
            @foreach (var item in Model.ToList())
            {
            <li>
                <a href="# ">@item.TenHang</a>
                </li>
            }
            </ul>
    </div>