@{
    ViewData["Title"] = "TRIPLE V - Cửa hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var queryPageIndex = Context.Request.Query["pageIndex"];
    var valPageIndex = queryPageIndex.Count > 0 ? (int.TryParse(queryPageIndex[0], out int idx) ? idx : 1) : 1;
}
<div class="content-wraper pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-2 order-lg-1">
                <div id="loadAllSanPham">

                </div>
            </div>
            <div class="col-lg-3 order-1 order-lg-2">
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2>Hãng sản phẩm</h2>
                    </div>
                    <div id="loadNhanHieu">

                    </div>

                </div>

                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2>Lọc theo</h2>
                    </div>

                    <button class="btn-clear-all mb-sm-30 mb-xs-30">Xóa</button>

                    <div class="danhmuc-sanpham">

                    </div>

                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Color</h5>
                        <div class="color-categoriy">
                            <form action="#">
                                <ul>
                                    <li><span class="white"></span><a href="#">White (1)</a></li>
                                    <li><span class="black"></span><a href="#">Black (1)</a></li>
                                    <li><span class="Orange"></span><a href="#">Orange (3) </a></li>
                                    <li><span class="Blue"></span><a href="#">Blue  (2) </a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>

                <!--<div class="sidebar-categores-box mb-sm-0">
                    <div class="sidebar-title">
                        <h2>Nhãn hiệu</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a href="# ">Devita</a></li>
                            <li><a href="# ">Cameras</a></li>
                            <li><a href="# ">Sony</a></li>
                            <li><a href="# ">Computer</a></li>
                            <li><a href="# ">Big Sale</a></li>
                            <li><a href="# ">Accessories</a></li>
                        </ul>
                    </div>-->
                <!-- category-sub-menu end -->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        initResourceFilterQuery();

    })
    function initResourceFilterQuery() {
        getDataSanPham();
        layNhanHieuSanPham();
        layDanhMuc();
    }
    //san pham
    function getDataSanPham() {
        $.ajax({
            url: '/get-data-allsanpham',
            type: 'GET',
            dataType: 'html',
            success: (result) => {
                $("#loadAllSanPham")[0].innerHTML = result;
            },
            error: (err) => {
                alert('failed');
                console.log(err);
            }
        });
    }
    //Hãng
    function layNhanHieuSanPham() {
        $.ajax({
            url: '/get-data-nhanhieuSP',
            type: 'GET',
            success: (result) => {
                $("#loadNhanHieu")[0].innerHTML = result;
            },
            error: (err) => {
                alert('failed');
                console.log(err);
            }
        });
    }
    //Danh mục
    function layDanhMuc() {
        $.ajax({
            url: '/list-danh-muc-CH',
            type: 'GET',
            success: (result) => {
                $(".danhmuc-sanpham")[0].innerHTML = result;
            },
            error: (err) => {
                alert('failed');
                console.log(err);
            }
        });
    }
</script>