
<div class="compare-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="coupon-accordion">
                    <!--Accordion Start-->
                    <h3>Đơn hàng thành công<span id="showlogin" style="float:right;">Đã giao</span></h3>
                    <div id="checkout-login" class="coupon-content">
                        <div class="coupon-info">
                            <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>
                            <form action="#">
                                <p class="form-row-first">
                                    <label>Username or email <span class="required">*</span></label>
                                    <input type="text">
                                </p>
                                <p class="form-row-last">
                                    <label>Password  <span class="required">*</span></label>
                                    <input type="text">
                                </p>
                                <p class="form-row">
                                    <input value="Login" type="submit">
                                    <label>
                                        <input type="checkbox">
                                        Remember me
                                    </label>
                                </p>
                                <p class="lost-password"><a href="#">Lost your password?</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="product-image">
                    <a href="single-product.html">
                        <img src="https://binhminhdigital.com/StoreData/PageData/3429/Tim-hieu-ve-ban-quyen-hinh-anh%20(3).jpg" alt="HinhAnh" />
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <br />
                <h4>Điện thoại Samsung Galaxy A52s 5G 256GB</h4>
                <span>Phân loại: Xanh</span>
                <br />
                <span>x1</span>
            </div>
            <div class="col-lg-2" style="text-align:end;">
                <span>13.000.000 VNĐ</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <h6>Đánh giá sản phẩm</h6>
            </div>
            <div class="col-lg-5">

            </div>
            <div class="col-lg-2">
                <button class="form-control" style="background: #ff6a00; float:right">Đánh giá</button>
            </div>
            <div class="col-lg-2">
                <button class="form-control" style="background: #808080; float: right">Mua lại</button>
            </div>
        </div>
    </div>
</div>

